.SearchBar {
  display: flex;
  margin-bottom: 1em;
  margin: 1em;
  font-size: 2em; }
  .SearchBar label {
    width: 100%; }
  .SearchBar input {
    padding: 1em;
    width: 100%;
    background: #E3E3E3;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: .8em; }
