.SearchBar {
  display: flex;
  margin: 1em;
  font-size: 2em; }
  .SearchBar label {
    margin: 1em;
    flex: 1; }
  .SearchBar input {
    padding: 1em;
    width: 100%;
    background: #E3E3E3;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: .8em;
    margin: -1em; }
